# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Credentials and Secrets
service-account-key.json
secrets.json

# Build Artifacts
*.tar.gz
build_artifacts/
frontend/build_artifacts/

# Env
.env
.env.production

test_admin_role.js
remote_bundle.js
